In [1]:
# помечаем отсутствие нефти по дате и по краю
# кластеризуем. в идеале мы бы хотели кластерами искать землю и не землю

In [2]:
import pandas as pd

In [3]:
tab = pd.read_csv('../statisics_for_maxar_data.csv')

In [4]:
tab = tab.iloc[:, 1:]

In [5]:
tab.head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown
0,maxar_11Sept_1_1_121.png,3.971194,-1.000000,-1.000000,0.975929,0.000000,0.000000
1,maxar_16thJuly_1_27_335.png,8.719782,14.980542,48.084315,0.432021,0.000004,0.000000
2,maxar_14Sept_1_13_180.png,114.169012,123.246468,87.522911,0.002528,0.002116,0.008070
3,maxar_11Sept_1_9_127.png,36.879239,-1.000000,-1.000000,0.607519,0.000000,0.000000
4,maxar_14Sept_1_2_148.png,250.580704,252.296048,250.878830,0.000000,0.943358,0.967063

In [6]:
tab['noOil'] = 0

In [7]:
def mark_no_oil(tab):
    tab.loc[tab['file'].str.contains('16thJuly'), 'noOil'] = 1
    tab.loc[tab['file'].str.contains('_0_'), 'noOil'] = 1
    tab.loc[tab['file'].str.contains('_0.'), 'noOil'] = 1
    return tab

In [8]:
tab = mark_no_oil(tab)

In [9]:
tab['noOil'].value_counts()

0    109601
1     16466
Name: noOil, dtype: int64

In [10]:
import hdbscan

In [11]:
clusterer = hdbscan.HDBSCAN(min_cluster_size=1000)

In [12]:
clusterer.fit(tab.iloc[:, 1:])

HDBSCAN(min_cluster_size=1000)

In [13]:
clusterer.labels_.max()

10

In [14]:
tab['label'] = clusterer.labels_

In [15]:
tab['label'].value_counts()

-1     53034
 2     16752
 1     13106
 10    10068
 8      8059
 3      6466
 7      4656
 5      4195
 9      3831
 0      2803
 6      2081
 4      1016
Name: label, dtype: int64

In [28]:
tab.describe(), len(tab)

(              mean_1         mean_2         mean_3    share_black  \
 count  126067.000000  126067.000000  126067.000000  126067.000000
 mean       74.497365      71.500658      67.022599       0.222037
 std        76.832800      76.426525      70.685918       0.320442
 min         0.000000      -1.000000      -1.000000       0.000000
 25%         5.082080       2.423266       7.748592       0.003022
 50%        57.244522      48.741419      45.344535       0.073031
 75%       112.462470     114.449866      94.797756       0.258060
 max       255.000000     255.000000     255.000000       1.000000

           share_blue    share_brown          noOil          label
 count  126067.000000  126067.000000  126067.000000  126067.000000
 mean        0.094213       0.104290       0.130613       2.242633
 std         0.242577       0.254139       0.336978       3.793717
 min         0.000000       0.000000       0.000000      -1.000000
 25%         0.000000       0.000000       0.000000      -1.000000
 50%         0.000002       0.000001       0.000000       1.000000
 75%         0.002054       0.007265       0.000000       5.000000
 max         1.000000       1.000000       1.000000      10.000000  ,
 126067)

In [29]:
tab[tab['label'] == -1].describe(), len(tab[tab['label'] == -1])

(             mean_1        mean_2        mean_3   share_black    share_blue  \
 count  53034.000000  53034.000000  53034.000000  53034.000000  53034.000000
 mean      66.516070     71.374822     66.857158      0.164798      0.043289
 std       60.616150     63.163217     54.195915      0.223378      0.113573
 min        0.000000     -1.000000     -1.000000      0.000000      0.000000
 25%        9.856006     14.018700     25.798425      0.005597      0.000000
 50%       44.939289     51.412050     51.983938      0.089724      0.000004
 75%      119.181612    127.381708    110.540488      0.227336      0.004351
 max      245.906247    242.448334    234.735467      1.000000      0.840000

         share_brown         noOil    label
 count  53034.000000  53034.000000  53034.0
 mean       0.053801      0.164668     -1.0
 std        0.127823      0.370884      0.0
 min        0.000000      0.000000     -1.0
 25%        0.000000      0.000000     -1.0
 50%        0.000002      0.000000     -1.0
 75%        0.012649      0.000000     -1.0
 max        0.887134      1.000000     -1.0  ,
 53034)

In [40]:
# -1, судя по всему можно говорить, что нефть --- это достаточно чёрные точки.

In [41]:
tab[tab['label'] == -1].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
1,maxar_16thJuly_1_27_335.png,8.719782,14.980542,48.084315,0.432021,0.000004,0.0,1,-1
3,maxar_11Sept_1_9_127.png,36.879239,-1.000000,-1.000000,0.607519,0.000000,0.0,0,-1
5,maxar_14Sept_3_9_182.png,184.461082,182.420919,181.425045,0.000000,0.000000,0.0,0,-1
8,maxar_13thAugust_25_77.png,1.186694,3.116357,25.274257,0.021045,0.000000,0.0,0,-1
9,maxar_8thSeptember_19_65.png,47.028882,79.428786,53.069106,0.051311,0.000000,0.0,0,-1

In [43]:
tab[tab['label'] == 0].describe(), len(tab[tab['label'] == 0])

(            mean_1  mean_2  mean_3  share_black  share_blue  share_brown  \
 count  2803.000000  2803.0  2803.0  2803.000000      2803.0       2803.0
 mean    225.558924    -1.0    -1.0     0.044958         0.0          0.0
 std      24.052922     0.0     0.0     0.081743         0.0          0.0
 min     160.236460    -1.0    -1.0     0.000000         0.0          0.0
 25%     199.701797    -1.0    -1.0     0.000000         0.0          0.0
 50%     226.236000    -1.0    -1.0     0.000000         0.0          0.0
 75%     250.742482    -1.0    -1.0     0.112433         0.0          0.0
 max     255.000000    -1.0    -1.0     0.298514         0.0          0.0

              noOil   label
 count  2803.000000  2803.0
 mean      0.001427     0.0
 std       0.037756     0.0
 min       0.000000     0.0
 25%       0.000000     0.0
 50%       0.000000     0.0
 75%       0.000000     0.0
 max       1.000000     0.0  ,
 2803)

In [44]:
tab[tab['label'] == 0].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
82,maxar_7thSeptember_24_242.png,254.999964,-1.0,-1.0,0.0000,0.0,0.0,0,0
159,maxar_11Sept_1_32_225.png,199.512000,-1.0,-1.0,0.2176,0.0,0.0,0,0
228,maxar_7thSeptember_18_177.png,180.576945,-1.0,-1.0,0.0000,0.0,0.0,0,0
243,maxar_7thSeptember_26_211.png,226.084730,-1.0,-1.0,0.0000,0.0,0.0,0,0
298,maxar_7thSeptember_26_202.png,244.104950,-1.0,-1.0,0.0000,0.0,0.0,0,0

In [45]:
#судя по всеме можно считать, что нефть --- все достаточно, чёрные точки (надо учитывать, что тут изображения чёрно-белые)

In [30]:
tab[tab['label'] == 1].describe(), len(tab[tab['label'] == 1])

(             mean_1        mean_2        mean_3   share_black    share_blue  \
 count  13106.000000  13106.000000  13106.000000  13106.000000  13106.000000
 mean     230.019841    231.558122    225.457124      0.001551      0.709445
 std       26.014953     24.325056     29.082112      0.006792      0.289943
 min      145.286246    151.653749    138.806548      0.000000      0.000000
 25%      211.640450    214.200000    204.542949      0.000000      0.503729
 50%      238.815713    239.797032    233.622630      0.000000      0.788800
 75%      253.633854    253.645733    252.840810      0.000022      0.987168
 max      255.000000    255.000000    255.000000      0.192612      1.000000

         share_brown         noOil    label
 count  13106.000000  13106.000000  13106.0
 mean       0.757083      0.099802      1.0
 std        0.264332      0.299747      0.0
 min        0.000000      0.000000      1.0
 25%        0.595302      0.000000      1.0
 50%        0.841428      0.000000      1.0
 75%        0.997051      0.000000      1.0
 max        1.000000      1.000000      1.0  ,
 13106)

In [42]:
# судя по всему, есть смысл говорить, что тут нефти нет

In [46]:
tab[tab['label'] == 1].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
4,maxar_14Sept_1_2_148.png,250.580704,252.296048,250.878830,0.000000,0.943358,0.967063,0,1
6,maxar_14Sept_5_14_213.png,235.582193,237.351584,230.734923,0.000020,0.807806,0.834908,0,1
7,maxar_8thAugust_1_26_96.png,175.312651,179.803370,172.750798,0.000031,0.094610,0.163644,0,1
27,maxar_14Sept_3_29_120.png,215.259991,213.257746,211.001318,0.000000,0.308912,0.331878,0,1
33,maxar_14Sept_2_15_27.png,205.062284,212.775010,202.658553,0.003359,0.466716,0.548053,0,1

In [31]:
tab[tab['label'] == 2].describe(), len(tab[tab['label'] == 2])

(             mean_1        mean_2        mean_3   share_black    share_blue  \
 count  16752.000000  16752.000000  16752.000000  16752.000000  16752.000000
 mean      78.648563     92.114225     56.581395      0.040461      0.005586
 std       22.682602     20.861645     19.222121      0.040747      0.021156
 min       24.296298     37.979707     14.730286      0.000000      0.000000
 25%       62.138802     77.839808     42.650470      0.010817      0.000000
 50%       80.158914     94.276486     56.860831      0.027599      0.000002
 75%       95.587456    106.854918     69.755408      0.059254      0.001308
 max      131.619925    142.329390    108.214677      0.490679      0.284753

         share_brown         noOil    label
 count  16752.000000  16752.000000  16752.0
 mean       0.010767      0.174546      2.0
 std        0.030839      0.379590      0.0
 min        0.000000      0.000000      2.0
 25%        0.000000      0.000000      2.0
 50%        0.000071      0.000000      2.0
 75%        0.004273      0.000000      2.0
 max        0.307502      1.000000      2.0  ,
 16752)

In [47]:
tab[tab['label'] == 2].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
2,maxar_14Sept_1_13_180.png,114.169012,123.246468,87.522911,0.002528,0.002116,0.008070,0,2
16,maxar_8thSeptember_10_53.png,99.599681,117.731271,65.589536,0.000161,0.000000,0.000000,0,2
20,maxar_14Sept_1_9_60.png,93.753422,98.074862,73.266585,0.041425,0.001734,0.022214,0,2
23,maxar_16thJuly_2_16_38.png,81.797302,101.009834,57.634922,0.024116,0.000977,0.001332,1,2
25,maxar_8thSeptember_1_43.png,92.064854,90.572692,59.202542,0.001734,0.000197,0.000223,0,2

In [ ]:
#исключаем весь кластер --- это земля, а не вода

In [32]:
tab[tab['label'] == 3].describe(), len(tab[tab['label'] == 3])

(            mean_1       mean_2       mean_3  share_black   share_blue  \
 count  6466.000000  6466.000000  6466.000000  6466.000000  6466.000000
 mean     67.161331    73.806171    86.415015     0.038135     0.029266
 std      10.591154     9.422933     8.783333     0.063882     0.080614
 min      34.344354    46.867250    55.315673     0.000000     0.000000
 25%      60.363894    66.693031    79.935051     0.000002     0.000021
 50%      66.779332    74.260456    87.738033     0.000611     0.000096
 75%      73.458818    79.689005    92.835796     0.062869     0.000306
 max      94.927888   100.199163   105.482805     0.641596     0.345268

        share_brown        noOil   label
 count  6466.000000  6466.000000  6466.0
 mean      0.029553     0.080575     3.0
 std       0.080745     0.272203     0.0
 min       0.000000     0.000000     3.0
 25%       0.000012     0.000000     3.0
 50%       0.000069     0.000000     3.0
 75%       0.000252     0.000000     3.0
 max       0.345980     1.000000     3.0  ,
 6466)

In [48]:
tab[tab['label'] == 3].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
17,maxar_14Sept_3_10_236.png,60.574622,66.482929,80.143217,0.000044,0.000042,0.000017,0,3
31,maxar_14Sept_3_23_104.png,64.721438,68.342393,81.488972,0.000335,0.000000,0.000000,0,3
38,maxar_14Sept_3_12_53.png,62.283194,71.889186,88.519340,0.000000,0.000062,0.000043,0,3
47,maxar_14Sept_3_15_85.png,69.088470,73.513926,86.846007,0.046689,0.000027,0.000017,0,3
49,maxar_8thAugust_1_11_45.png,75.119913,86.175414,94.871307,0.068427,0.000000,0.000000,0,3

In [49]:
# нефть --- это достаточно чёрные точки

In [33]:
tab[tab['label'] == 4].describe(), len(tab[tab['label'] == 4])

(            mean_1  mean_2  mean_3  share_black  share_blue  share_brown  \
 count  1016.000000  1016.0  1016.0  1016.000000      1016.0       1016.0
 mean     51.007101    -1.0    -1.0     0.291242         0.0          0.0
 std       2.252427     0.0     0.0     0.134575         0.0          0.0
 min      47.046565    -1.0    -1.0     0.000714         0.0          0.0
 25%      49.159674    -1.0    -1.0     0.199404         0.0          0.0
 50%      50.881498    -1.0    -1.0     0.276151         0.0          0.0
 75%      52.758238    -1.0    -1.0     0.374772         0.0          0.0
 max      55.666514    -1.0    -1.0     0.793631         0.0          0.0

              noOil   label
 count  1016.000000  1016.0
 mean      0.007874     4.0
 std       0.088429     0.0
 min       0.000000     4.0
 25%       0.000000     4.0
 50%       0.000000     4.0
 75%       0.000000     4.0
 max       1.000000     4.0  ,
 1016)

In [50]:
tab[tab['label'] == 4].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
149,maxar_7thSeptember_3_250.png,51.982713,-1.0,-1.0,0.210889,0.0,0.0,0,4
201,maxar_7thSeptember_28_4.png,53.795385,-1.0,-1.0,0.319813,0.0,0.0,0,4
311,maxar_7thSeptember_6_274.png,48.483934,-1.0,-1.0,0.293537,0.0,0.0,0,4
375,maxar_7thSeptember_8_275.png,48.969143,-1.0,-1.0,0.279857,0.0,0.0,0,4
384,maxar_7thSeptember_9_263.png,52.282511,-1.0,-1.0,0.166004,0.0,0.0,0,4

In [51]:
#нефть --- это достаточно чёрные точки

In [34]:
tab[tab['label'] == 5].describe(), len(tab[tab['label'] == 5])

(            mean_1  mean_2  mean_3  share_black  share_blue  share_brown  \
 count  4195.000000  4195.0  4195.0  4195.000000      4195.0       4195.0
 mean     72.882537    -1.0    -1.0     0.054858         0.0          0.0
 std       5.204126     0.0     0.0     0.088280         0.0          0.0
 min      61.351018    -1.0    -1.0     0.000000         0.0          0.0
 25%      68.698858    -1.0    -1.0     0.012538         0.0          0.0
 50%      73.075015    -1.0    -1.0     0.036944         0.0          0.0
 75%      76.785199    -1.0    -1.0     0.050817         0.0          0.0
 max      84.148798    -1.0    -1.0     0.756828         0.0          0.0

              noOil   label
 count  4195.000000  4195.0
 mean      0.034565     5.0
 std       0.182697     0.0
 min       0.000000     5.0
 25%       0.000000     5.0
 50%       0.000000     5.0
 75%       0.000000     5.0
 max       1.000000     5.0  ,
 4195)

In [52]:
tab[tab['label'] == 5].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
13,maxar_11Sept_1_8_177.png,61.896164,-1.0,-1.0,0.079066,0.0,0.0,0,5
46,maxar_7thSeptember_25_77.png,77.045159,-1.0,-1.0,0.009073,0.0,0.0,0,5
58,maxar_7thSeptember_10_126.png,67.742795,-1.0,-1.0,0.026171,0.0,0.0,0,5
61,maxar_7thSeptember_19_116.png,77.197762,-1.0,-1.0,0.003114,0.0,0.0,0,5
81,maxar_7thSeptember_20_35.png,76.496476,-1.0,-1.0,0.048651,0.0,0.0,0,5

In [53]:
# нефть --- это достаточно чёрные точки

In [35]:
tab[tab['label'] == 6].describe(), len(tab[tab['label'] == 6])

(            mean_1       mean_2       mean_3  share_black   share_blue  \
 count  2081.000000  2081.000000  2081.000000  2081.000000  2081.000000
 mean     12.376851    23.225414    57.235099     0.275853     0.000006
 std       0.915980     1.408282     1.942054     0.099306     0.000007
 min       6.253186    18.382827    46.793110     0.078218     0.000000
 25%      12.039820    22.459617    56.161232     0.197636     0.000001
 50%      12.535974    23.300422    57.538985     0.245323     0.000004
 75%      12.890043    24.215084    58.528832     0.350535     0.000009
 max      16.376882    28.147951    61.731340     0.466324     0.000065

        share_brown        noOil   label
 count  2081.000000  2081.000000  2081.0
 mean      0.000001     0.510332     6.0
 std       0.000003     0.500013     0.0
 min       0.000000     0.000000     6.0
 25%       0.000000     0.000000     6.0
 50%       0.000000     1.000000     6.0
 75%       0.000000     1.000000     6.0
 max       0.000043     1.000000     6.0  ,
 2081)

In [54]:
tab[tab['label'] == 6].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
18,maxar_8thAugust_1_18_343.png,13.237050,24.913367,60.042407,0.229360,0.000009,0.000001,0,6
83,maxar_16thJuly_1_13_348.png,12.587974,24.179826,60.219868,0.262674,0.000007,0.000000,1,6
137,maxar_8thAugust_1_9_341.png,12.363150,23.398031,59.297266,0.265702,0.000002,0.000000,0,6
310,maxar_8thAugust_1_9_321.png,12.077179,22.599681,58.227618,0.237894,0.000005,0.000000,0,6
416,maxar_8thAugust_1_6_325.png,12.928327,23.718993,57.979935,0.212022,0.000030,0.000015,0,6

In [55]:
#лучше выкинуть весь кластер, ни одной нормальной картинки

In [36]:
tab[tab['label'] == 7].describe(), len(tab[tab['label'] == 7])

(            mean_1       mean_2       mean_3  share_black   share_blue  \
 count  4656.000000  4656.000000  4656.000000  4656.000000  4656.000000
 mean      2.291422    18.741402    39.309071     0.239096     0.000012
 std       1.040046     2.856833     3.202108     0.088073     0.000161
 min       0.934252     8.160386    30.444846     0.051430     0.000000
 25%       1.589458    16.684088    37.079278     0.168746     0.000001
 50%       1.990222    19.389358    39.963124     0.238884     0.000004
 75%       2.232339    20.925497    41.568367     0.298489     0.000009
 max       6.110159    24.695882    45.754066     0.482825     0.008612

        share_brown        noOil   label
 count  4656.000000  4656.000000  4656.0
 mean      0.000008     0.091280     7.0
 std       0.000171     0.288038     0.0
 min       0.000000     0.000000     7.0
 25%       0.000000     0.000000     7.0
 50%       0.000000     0.000000     7.0
 75%       0.000002     0.000000     7.0
 max       0.009143     1.000000     7.0  ,
 4656)

In [56]:
tab[tab['label'] == 7].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
45,maxar_12thAugust_3_8_96.png,2.052122,21.445807,39.439623,0.118025,0.000001,0.000000,0,7
111,maxar_12thAugust_3_14_41.png,2.301547,21.479391,40.232231,0.195712,0.000028,0.000015,0,7
116,maxar_12thAugust_3_19_164.png,1.088613,15.166358,38.812192,0.188834,0.000000,0.000000,0,7
117,maxar_16thJuly_1_6_62.png,5.369014,19.461172,35.211454,0.266210,0.000001,0.000000,1,7
147,maxar_12thAugust_3_10_41.png,2.209233,21.090097,38.874101,0.148201,0.000016,0.000002,0,7

In [57]:
#лучше выкинуть весь кластер, ни одной нормальной картинки

In [37]:
tab[tab['label'] == 8].describe(), len(tab[tab['label'] == 8])

(            mean_1       mean_2       mean_3  share_black   share_blue  \
 count  8059.000000  8059.000000  8059.000000  8059.000000  8059.000000
 mean      2.538062     7.416938    20.097663     0.282782     0.000056
 std       1.149874     3.796448     4.157124     0.156394     0.000151
 min       0.562290     1.047611     8.906047     0.012495     0.000000
 25%       1.630258     4.634937    17.008621     0.198179     0.000000
 50%       2.156226     7.141580    20.230816     0.251669     0.000001
 75%       3.348794    10.338684    23.435386     0.346430     0.000021
 max       6.771700    16.962610    29.480841     0.930374     0.003376

        share_brown        noOil   label
 count  8059.000000  8059.000000  8059.0
 mean      0.000055     0.129421     8.0
 std       0.000152     0.335686     0.0
 min       0.000000     0.000000     8.0
 25%       0.000000     0.000000     8.0
 50%       0.000000     0.000000     8.0
 75%       0.000018     0.000000     8.0
 max       0.003546     1.000000     8.0  ,
 8059)

In [58]:
tab[tab['label'] == 8].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
26,maxar_12thAugust_1_23_62.png,1.916537,5.499328,21.288944,0.107518,0.000000,0.000000,0,8
36,maxar_12thAugust_3_13_254.png,1.784777,6.366538,20.778550,0.211402,0.000000,0.000000,0,8
51,maxar_12thAugust_1_28_63.png,1.757111,6.183844,23.794796,0.135823,0.000000,0.000000,0,8
76,maxar_13thAugust_38_47.png,1.902439,1.095618,15.471566,0.841748,0.000001,0.000001,0,8
93,maxar_14Sept_5_27_320.png,2.619979,9.866260,24.677713,0.281072,0.000070,0.000062,0,8

In [59]:
# лучше выкинуть весь кластер, ни одной нормальной картинки

In [38]:
tab[tab['label'] == 9].describe(), len(tab[tab['label'] == 9])

(            mean_1  mean_2  mean_3  share_black  share_blue  share_brown  \
 count  3831.000000  3831.0  3831.0  3831.000000      3831.0       3831.0
 mean      0.975789    -1.0    -1.0     0.999339         0.0          0.0
 std       0.358594     0.0     0.0     0.001574         0.0          0.0
 min       0.000000    -1.0    -1.0     0.981076         0.0          0.0
 25%       1.000654    -1.0    -1.0     0.999835         0.0          0.0
 50%       1.001953    -1.0    -1.0     0.999979         0.0          0.0
 75%       1.023944    -1.0    -1.0     0.999994         0.0          0.0
 max       2.079321    -1.0    -1.0     1.000000         0.0          0.0

              noOil   label
 count  3831.000000  3831.0
 mean      0.021665     9.0
 std       0.145607     0.0
 min       0.000000     9.0
 25%       0.000000     9.0
 50%       0.000000     9.0
 75%       0.000000     9.0
 max       1.000000     9.0  ,
 3831)

In [60]:
tab[tab['label'] == 9].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
12,maxar_11Sept_1_27_290.png,1.001254,-1.0,-1.0,0.999988,0.0,0.0,0,9
54,maxar_11Sept_1_10_249.png,1.001696,-1.0,-1.0,0.999988,0.0,0.0,0,9
59,maxar_11Sept_1_0_226.png,1.053391,-1.0,-1.0,0.999712,0.0,0.0,1,9
95,maxar_11Sept_1_28_288.png,1.006882,-1.0,-1.0,0.999942,0.0,0.0,0,9
99,maxar_11Sept_1_27_228.png,1.093922,-1.0,-1.0,0.999243,0.0,0.0,0,9

In [61]:
# лучше выкинуть весь кластер, ни одной нормальной картинки

In [39]:
tab[tab['label'] == 10].describe(), len(tab[tab['label'] == 10])

(             mean_1   mean_2   mean_3   share_black  share_blue  share_brown  \
 count  10068.000000  10068.0  10068.0  10068.000000     10068.0      10068.0
 mean       4.687663     -1.0     -1.0      0.979358         0.0          0.0
 std        1.210041      0.0      0.0      0.015063         0.0          0.0
 min        2.091383     -1.0     -1.0      0.906929         0.0          0.0
 25%        3.864153     -1.0     -1.0      0.975275         0.0          0.0
 50%        4.534111     -1.0     -1.0      0.984051         0.0          0.0
 75%        5.379759     -1.0     -1.0      0.990165         0.0          0.0
 max        8.011445     -1.0     -1.0      1.000000         0.0          0.0

               noOil    label
 count  10068.000000  10068.0
 mean       0.020858     10.0
 std        0.142917      0.0
 min        0.000000     10.0
 25%        0.000000     10.0
 50%        0.000000     10.0
 75%        0.000000     10.0
 max        1.000000     10.0  ,
 10068)

In [62]:
tab[tab['label'] == 10].head()

,file,mean_1,mean_2,mean_3,share_black,share_blue,share_brown,noOil,label
0,maxar_11Sept_1_1_121.png,3.971194,-1.0,-1.0,0.975929,0.0,0.0,0,10
14,maxar_11Sept_2_4_48.png,4.292229,-1.0,-1.0,0.983502,0.0,0.0,0,10
29,maxar_11Sept_2_23_48.png,5.036069,-1.0,-1.0,0.975673,0.0,0.0,0,10
65,maxar_11Sept_2_0_283.png,3.637799,-1.0,-1.0,0.994766,0.0,0.0,1,10
66,maxar_11Sept_2_22_268.png,6.915246,-1.0,-1.0,0.993792,0.0,0.0,0,10

In [63]:
# лучше выкинуть весь кластер, ни одной нормальной картинки

In [68]:
len(tab[~tab['label'].isin([-1, 0, 3, 4, 5])])/len(tab)

0.46445937477690435

In [71]:
tab.loc[~tab['label'].isin([-1, 0, 3, 4, 5]), 'noOil'] = 1

In [73]:
tab['noOil'].value_counts(normalize=True)

1    0.53911
0    0.46089
Name: noOil, dtype: float64

In [75]:
tab.to_csv('../statisics_for_maxar_data_clustered.csv')